# /package-lock.json
/coverage
/yarn.lock

# Dependency directories
/node_modules
/.pnp
.pnp.js

# Custom folders
/dist
/.vscode

# Enviromental Variables
/.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*