.singleEvent__banner {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}

.singleEvent__overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}

.singleEvent__mainTitle {
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  color: #fff;
}

.singleEvent__info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  /* align-self: flex-start;
  display: flex;
  justify-content: space-around;
  align-items: center; */
}

.singleEvent__timerContainer {
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.singleEvent__timerContainer > p {
  font-size: 1.3rem;
  color: #fff;
}

.singleEvent__details,
.singleEvent__members {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.singleEvent__details > h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.singleEvent__details > p {
  font-size: 1.2rem;
  font-weight: 300;
  width: 85%;
}

.singleEventMembers__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.singleEventMembers__headline > h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.addNewMember__icon {
  font-size: 1.6rem;
  cursor: pointer;
  color: #808080;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.addNewMember__icon:hover {
  scale: 1.4;
  color: #000;
}

.membersList__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1.3rem 0;
}

.chatLink__container {
  padding: 1rem 2rem;
  align-self: flex-end;
  justify-self: flex-end;
  color: #fff;
}

.linkToChat {
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.linkToChat:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}