.eventCard__container {
  overflow: hidden;
  box-shadow: 0 4px 25px #e1e5ee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  width: 15rem;
  height: 23rem;
}

.eventCard__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.eventCard__textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventCardText__title {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 24px;
}

.eventCardText__date {
  font-weight: bold;
}

.eventCardText__countdown {
  padding: 0 1rem;
  font-size: 14px;
}

.eventCard__container:hover {
  transform: scale(1.02);
  background-color: rgb(62,62,63);
  transition: 0.3s;
  border-radius: 10px;
  color: #fff;
}
