.profile-container {
  padding: 2rem;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #fff;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.profile-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.profile-text-headings {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.image-username {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}


.profile__image {
  border-radius: 50%;
  width: 325px;
  height: 325px;
  border: 4px solid black;
}

.profile-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}

.profile-text-style {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 10px;
  height: 60px;
}

.profile-line {
  font-size: 18px;
}

.profile__username {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.bio {
  height: 120px;
}

.btn-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.edit-btn {
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}
