.container {
  display: flex;
}

.containerRoutes {
  flex: 1;
  padding: 2rem 2rem;
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto;
}

.containerRoutes::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.containerRoutes::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
}

.containerRoutes::-webkit-scrollbar-thumb:hover {
  background: #4b4b4b;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.containerRoutes::-webkit-scrollbar-thumb:active {
  background-color: #353b48;
}

.containerRoutes::-webkit-scrollbar-track {
background: #fff;
border-radius: 4px;
}
