.createEventTitle {
  font-size: 2rem;
  text-align: center;
}

.createEventCard {
  margin: auto;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.formContainer__createEvent {
  padding: 0.7rem 0;
}

.formControl__createEvent {
  position: relative;
  margin-bottom: 2.5rem;
}

.formInput__event {
  width: 100%;
  border-color: #dee2e6 !important;
  font-size: 14px;
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.formControl__labelEvent {
  position: absolute;
  top: 5px;
  left: 17px;
  color: #89969d;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transition: transform .1s, darkblue, .3s;
  -webkit-transition: transform .1s, darkblue, .3s;
  -moz-transition: transform .1s, darkblue, .3s;
  -ms-transition: transform .1s, darkblue, .3s;
  -o-transition: transform .1s, darkblue, .3s;
}

.formInput__event:not(:placeholder-shown) {
  color: #000;
}

.formInput__event:not(:placeholder-shown) + .formControl__labelEvent {
  transform: translateY(-25px) scale(.9);
  -webkit-transform: translateY(-25px) scale(.9);
  -moz-transform: translateY(-25px) scale(.9);
  -ms-transform: translateY(-25px) scale(.9);
  -o-transform: translateY(-25px) scale(.9);
  transform-origin: left top;
  color: darkblue;
}

.noResizeTextArea {
  resize: none;
  height: 100px;
}

.noResizeTextArea::-webkit-scrollbar {
  width: 0px;
}

.formContainer__btn {
  display: flex;
}

.submitButton__newEvent {
  flex: 1;
  padding: 0.5rem 0;
  background-color: #3e3e3f;
  color: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}