.watch__container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.watch__times {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watch__times > span {
  color: #fff;
  font-weight: bold;
}

.watch__times > span:first-child {
  font-size: 1.3rem;
}

.watch__times > span:last-child {
  font-size: 0.8rem;
}

.opacityElement {
  opacity: 0;
}